.navBarDiv{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background:-moz-radial-gradient(circle at 20% 20%, rgba(15, 213, 80, 1) 0%, rgba(20, 70, 38, 1) 100%);
    background:-webkit-radial-gradient(circle at 20% 20%, rgba(15, 213, 80, 1) 0%, rgba(20, 70, 38, 1) 100%);
    background:-o-radial-gradient(circle at 20% 20%, rgba(15, 213, 80, 1) 0%, rgba(20, 70, 38, 1) 100%);
    background:radial-gradient(circle at 20% 20%, rgba(15, 213, 80, 1) 0%, rgba(20, 70, 38, 1) 100%);
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
}

.navbar-links_logo img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 25px;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-links_container p,
.navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: start;
    background: var(--color-footer);
    padding: 2rem;
    left: -31px;
    position: absolute;
    top: 40px;
    margin-top: 25px;
    min-width: 190px;
    border-radius: 10px;
    background:-moz-linear-gradient(180deg, rgba(20, 70, 38, 1) 0%, rgba(15, 213, 80, 1) 100%); 
    background:-webkit-linear-gradient(180deg, rgba(20, 70, 38, 1) 0%, rgba(15, 213, 80, 1) 100%);
    background:-o-linear-gradient(180deg, rgba(20, 70, 38, 1) 0%, rgba(15, 213, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0FD550', endColorstr='#144626', GradientType=1 );
    background:-ms-linear-gradient(180deg, rgba(20, 70, 38, 1) 0%, rgba(15, 213, 80, 1) 100%);
    background:linear-gradient(180deg, rgba(20, 70, 38, 1) 0%, rgba(15, 213, 80, 1) 100%);
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbar-links_container {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: .5rem;
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu{
        padding-left: 25px;
        right: 1px;
        bottom: 12px;
    }

    .navbar-menu_container {
        width: 20px;
        left: -14px;
        top: 5px;
        min-width: 180px;
    }
    
    .navbar-menu_container-links-sign {
        display: block;
    }
}

